* {
    box-sizing: border-box;
}


.container {
    border: 1px solid #333;
    height: 300px;
    width: 30%;
    display: flex; 
}

section {
    width: 50px;
    height: 50px;
    border: 1px solid #333;
}

/* Flex container */
.flexbox-container {
    flex-direction: row; /* row (default) | row-reverse | column | column-reverse; */
    flex-wrap: wrap; /* nowrap (default) | wrap | wrap-reverse; */
    /* short-hand */
    flex-flow: column wrap; /* <flex-direction> <flex-wrap>*/

    /* Positions flexbox items along the main-axis */
    justify-content: flex-start; /* flex-start(default) | flex-end | center | space-between | space-around | space-evenly | start | end | left | right ... + safe | unsafe;*/
    /* Positions flexbox items along the cross-axis */
    align-items: center; /* stretch (default) | flex-start | flex-end | center | baseline | first baseline | last baseline | start | end | self-start | self-end + ... safe | unsafe; */

    /* Positions lines  along the cross-axis*/
    align-content: center; /* flex-start | flex-end | center | space-between | space-around | space-evenly | stretch (default) | start | end | baseline | first baseline | last baseline + ... safe | unsafe; */

    row-gap: 10px;
    column-gap: 10px;
    /* short-hand */
    gap: 10px 10px; /* <row-gap> <column-gap> */
}


/* Flexbox-items */
.flexbox-items {
    align-items: center;
}

.box6 {
    /* The lower the value, the higher priorty it gets */
    order: -1; /* default is 0 */
    align-self: flex-end;
}

.box7 {
    flex-grow: 1; /* default 0 */
    flex-shrink: 1; /* default 1 */
    flex-basis: auto; /* default auto */
}

.box8 {
    flex-grow: 10; /* default 0 */
    flex-shrink: 10; /* default 1 */
    flex-basis: auto; /* default auto, meaning it inherits its value from width/height */
    /* short-hand */
    flex: 10px 10px auto; /* <flex-grow> <flex-shrink> <flex-basis> */ 
}



